body, a {
	background-image: url('../img/bg.jpg'); background-repeat: repeat; background-attachment: fixed;
	font-size: 1em;
	font-family: "Lucida Sans Unicode", "Lucida Console", sans-serif;
	color: #ffffff;
}

.mainFrame {
	overflow: auto;
	width: 75%;
	height: 10%;
	margin: 10% auto 0 auto;
	text-align: center;
	padding-bottom: 1em;

	background-color: rgba(0, 0, 0, 0.6);

	/* rounded corners */
	-webkit-border-radius: 8px;  
	-moz-border-radius: 8px;  
	border-radius: 8px; 
}

.loginFrame {
	padding-top: 2em;
	padding-bottom: 1em;
}

.menu {
	overflow: auto;
	width: 100%;
	height: auto;
}

.menu-sl, .menu-sg {
	width: 50%;
	height: auto;
	text-align: center;
	float: left;
	background-color: rgba(0, 0, 0, 0.2);
}

.menu-sl:hover, .menu-sg:hover {
	background-color: rgba(0, 0, 0, 0.4);
}

.menu-aktif {
	background-color: rgba(0, 0, 0, 0.6);
}

.secFrame {
	width: 35%;
	height: auto;
	float: left;
	text-align: center;
	padding-bottom: 2em;
}

.degistirFrame {
	width: 60%;
	margin-left: 5%;
	height: auto;
	float: left;
	text-align: center;
	padding-bottom: 2em;
}

.footerFrame {
	overflow: auto;
	width: 75%;
	height: 5%;
	margin: 2% auto 0 auto;
	text-align: center;

	background-color: rgba(0, 0, 0, 0.6);

	/* rounded corners */
	-webkit-border-radius: 8px;  
	-moz-border-radius: 8px;  
	border-radius: 8px; 
}

input[type=submit] {  
    margin-left: 4em;  
}





