body {
	background-image: url('/src/img/bg.jpg'); background-repeat: repeat; background-attachment: fixed;
	font-size: 1em;
	font-family: "Lucida Sans Unicode", "Lucida Console", sans-serif;
}

canvas {
	max-width: 100%;
	height: auto;
}

a {
	color: #88c4c4;
	text-decoration: none;
}
a:hover {
	color: #000000;
}

/* 1. hat */
.giris {
	overflow: auto;
	width: 75%;
	height: 25%;
	margin: 2% auto 0 auto;
}
.aciklama {
	text-align: left;
	float: left;
}

/* 2. hat */
.ders-hatti {
	overflow: auto;
	width: 80%;
	height: 25%;
	margin: auto auto 0 auto;
}

.dv-blok {
	text-align: center;
	width: 25%;
	float: left;
}

.bosluk {
	margin-top: 5%;
}

.fork {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}
